@charset "UTF-8";

:root {
  --tagify-dd-color-primary:rgb(53, 149, 246);
  --tagify-dd-bg-color:white;
}

.tagify {
  --tags-disabled-bg:#F1F1F1;
  --tags-border-color:#DDD;
  --tags-hover-border-color:#CCC;
  --tags-focus-border-color:#3595f6;
  --tag-bg:#E5E5E5;
  --tag-hover:#D3E2E2;
  --tag-text-color:black;
  --tag-text-color--edit:black;
  --tag-pad:0.3em 0.5em;
  --tag-inset-shadow-size:1.1em;
  --tag-invalid-color:#D39494;
  --tag-invalid-bg:rgba(211, 148, 148, 0.5);
  --tag-remove-bg:rgba(211, 148, 148, 0.3);
  --tag-remove-btn-color:black;
  --tag-remove-btn-bg:none;
  --tag-remove-btn-bg--hover:#c77777;
  --input-color:inherit;
  --tag--min-width:1ch;
  --tag--max-width:auto;
  --tag-hide-transition:0.3s;
  --placeholder-color:rgba(0, 0, 0, 0.4);
  --placeholder-color-focus:rgba(0, 0, 0, 0.25);
  --loader-size:.8em;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  border: 1px solid var(--tags-border-color);
  padding: 0;
  line-height: normal;
  cursor: text;
  outline: 0;
  position: relative;
  box-sizing: border-box;
  transition: .1s;

  &:hover {
    border-color: #ccc;
    border-color: var(--tags-hover-border-color);
  }

  &.tagify--focus {
    transition: 0s;
    border-color: #3595f6;
    border-color: var(--tags-focus-border-color);
  }

  &[disabled] {
    background: var(--tags-disabled-bg);
    filter: saturate(0);
    opacity: .5;
    pointer-events: none;
  }

  &[readonly] {
    &.tagify--select {
      pointer-events: none;
    }

    &:not(.tagify--mix):not(.tagify--select) {
      cursor: default;

      > .tagify__input {
        visibility: hidden;
        width: 0;
        margin: 5px 0;
      }

      .tagify__tag > div {
        padding: .3em .5em;
        padding: var(--tag-pad);

        &::before {
          background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0 / 5px 5px;
          box-shadow: none;
          filter: brightness(0.95);
        }
      }
    }

    .tagify__tag__removeBtn {
      display: none;
    }
  }
}

@keyframes tags--bump {
  30% {
    transform: scale(1.2);
  }
}

@keyframes rotateLoader {
  to {
    transform: rotate(1turn);
  }
}

.tagify--loading .tagify__input {
  > br:last-child {
    display: none;
  }

  &::before {
    content: none;
  }

  &::after {
    content: "";
    vertical-align: middle;
    opacity: 1;
    width: .7em;
    height: .7em;
    width: var(--loader-size);
    height: var(--loader-size);
    border: 3px solid;
    border-color: #eee #bbb #888 transparent;
    border-radius: 50%;
    animation: rotateLoader .4s infinite linear;
    content: "" !important;
    margin: -2px 0 -2px .5em;
  }

  &:empty::after {
    margin-left: 0;
  }
}

.tagify + {
  input, textarea {
    position: absolute !important;
    left: (-9999em) !important;
    transform: scale(0) !important;
  }
}

.tagify__tag {
  display: inline-flex;
  align-items: center;
  margin: 5px 0 5px 5px;
  position: relative;
  z-index: 1;
  outline: 0;
  cursor: default;
  transition: .13s ease-out;

  > div {
    vertical-align: top;
    box-sizing: border-box;
    max-width: 100%;
    padding: .3em .5em;
    padding: var(--tag-pad, 0.3em 0.5em);
    color: #000;
    color: var(--tag-text-color, #000);
    line-height: inherit;
    border-radius: 3px;
    white-space: nowrap;
    transition: .13s ease-out;

    > {
      * {
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: top;
        min-width: 1ch;
        max-width: auto;
        min-width: var(--tag--min-width, 1ch);
        max-width: var(--tag--max-width, auto);
        transition: .8s ease,.1s color;
      }

      [contenteditable] {
        outline: 0;
        -webkit-user-select: text;
        user-select: text;
        cursor: text;
        margin: -2px;
        padding: 2px;
        max-width: 350px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      border-radius: inherit;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      pointer-events: none;
      transition: 120ms ease;
      animation: tags--bump .3s ease-out 1;
      box-shadow: 0 0 0 1.1em #e5e5e5 inset;
      box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--tag-bg, #e5e5e5) inset;
    }
  }

  &:focus div::before, &:hover:not([readonly]) div::before {
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    box-shadow: 0 0 0 1.1em #d3e2e2 inset;
    box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--tag-hover, #d3e2e2) inset;
  }
}

.tagify__tag--loading {
  pointer-events: none;

  .tagify__tag__removeBtn {
    display: none;
  }

  &::after {
    --loader-size:.4em;
    content: "";
    vertical-align: middle;
    opacity: 1;
    width: .7em;
    height: .7em;
    width: var(--loader-size);
    height: var(--loader-size);
    border: 3px solid;
    border-color: #eee #bbb #888 transparent;
    border-radius: 50%;
    animation: rotateLoader .4s infinite linear;
    margin: 0 .5em 0 -.1em;
  }
}

.tagify__tag--flash div::before {
  animation: none;
}

.tagify__tag--hide {
  width: 0 !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
  transform: scale(0);
  transition: .3s;
  transition: var(--tag-hide-transition, 0.3s);
  pointer-events: none;

  > div > * {
    white-space: nowrap;
  }
}

.tagify__tag {
  &.tagify--noAnim > div::before {
    animation: none;
  }

  &.tagify--notAllowed:not(.tagify__tag--editable) div {
    > span {
      opacity: .5;
    }

    &::before {
      box-shadow: 0 0 0 1.1em rgba(211, 148, 148, 0.5) inset !important;
      box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--tag-invalid-bg, rgba(211, 148, 148, 0.5)) inset !important;
      transition: .2s;
    }
  }

  &[readonly] {
    .tagify__tag__removeBtn {
      display: none;
    }

    > div::before {
      background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0 / 5px 5px;
      box-shadow: none;
      filter: brightness(0.95);
    }
  }
}

.tagify__tag--editable {
  > {
    div {
      color: #000;
      color: var(--tag-text-color--edit, #000);

      &::before {
        box-shadow: 0 0 0 2px #d3e2e2 inset !important;
        box-shadow: 0 0 0 2px var(--tag-hover, #d3e2e2) inset !important;
      }
    }

    .tagify__tag__removeBtn {
      pointer-events: none;

      &::after {
        opacity: 0;
        transform: translateX(100%) translateX(5px);
      }
    }
  }

  &.tagify--invalid > div::before {
    box-shadow: 0 0 0 2px #d39494 inset !important;
    box-shadow: 0 0 0 2px var(--tag-invalid-color, #d39494) inset !important;
  }
}

.tagify__tag__removeBtn {
  order: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  font: 14px/1 Arial;
  background: 0 0;
  background: var(--tag-remove-btn-bg, none);
  color: #000;
  color: var(--tag-remove-btn-color, #000);
  width: 14px;
  height: 14px;
  margin-right: 4.6666666667px;
  margin-left: auto;
  overflow: hidden;
  transition: .2s ease-out;

  &::after {
    content: "×";
    transition: .3s,color 0s;
  }

  &:hover {
    color: #fff;
    background: #c77777;
    background: var(--tag-remove-btn-bg--hover, #c77777);

    + div {
      > span {
        opacity: .5;
      }

      &::before {
        box-shadow: 0 0 0 1.1em rgba(211, 148, 148, 0.3) inset !important;
        box-shadow: 0 0 0 var(--tag-inset-shadow-size, 1.1em) var(--tag-remove-bg, rgba(211, 148, 148, 0.3)) inset !important;
        transition: box-shadow .2s;
      }
    }
  }
}

.tagify:not(.tagify--mix) .tagify__input {
  br {
    display: none;
  }

  * {
    display: inline;
    white-space: nowrap;
  }
}

.tagify__input {
  flex-grow: 1;
  display: inline-block;
  min-width: 110px;
  margin: 5px;
  padding: .3em .5em;
  padding: var(--tag-pad, 0.3em 0.5em);
  line-height: inherit;
  position: relative;
  white-space: pre-wrap;
  color: inherit;
  color: var(--input-color, inherit);
  box-sizing: inherit;

  &:empty::before {
    transition: .2s ease-out;
    opacity: 1;
    transform: none;
    display: inline-block;
    width: auto;
  }
}

.tagify--mix .tagify__input:empty::before {
  display: inline-block;
}

.tagify__input {
  &:focus {
    outline: 0;

    &::before {
      transition: .2s ease-out;
      opacity: 0;
      transform: translatex(6px);
    }

    &:empty::before {
      transition: .2s ease-out;
      opacity: 1;
      transform: none;
      color: rgba(0, 0, 0, 0.25);
      color: var(--placeholder-color-focus);
    }
  }

  &::before {
    content: attr(data-placeholder);
    height: 1em;
    line-height: 1em;
    margin: auto 0;
    z-index: 1;
    color: rgba(0, 0, 0, 0.4);
    color: var(--placeholder-color);
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    position: absolute;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tagify__input:focus::before {
    display: none;
  }
}

@supports (-ms-ime-align: auto) {
  .tagify__input:focus::before {
    display: none;
  }
}

@-moz-document url-prefix() {
  .tagify__input:focus:empty::after {
    display: none;
  }
}

.tagify--mix .tagify__input::before {
  display: none;
  position: static;
  line-height: inherit;
}

.tagify__input {
  &::after {
    content: attr(data-suggest);
    display: inline-block;
    white-space: pre;
    color: #000;
    opacity: .3;
    pointer-events: none;
    max-width: 100px;
  }

  .tagify__tag {
    margin: 0 1px;

    > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.tagify--mix {
  display: block;

  .tagify__input {
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    display: block;

    &::before {
      height: auto;
    }

    &::after {
      content: none;
    }
  }
}

.tagify--select {
  &::after {
    content: ">";
    opacity: .5;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    font: 16px monospace;
    line-height: 8px;
    height: 8px;
    pointer-events: none;
    transform: translate(-150%, -50%) scaleX(1.2) rotate(90deg);
    transition: .2s ease-in-out;
  }

  &[aria-expanded=true]::after {
    transform: translate(-150%, -50%) rotate(270deg) scaleY(1.2);
  }

  .tagify__tag {
    position: absolute;
    top: 0;
    right: 1.8em;
    bottom: 0;

    div {
      display: none;
    }
  }

  .tagify__input {
    width: 100%;
  }
}

.tagify--invalid {
  --tags-border-color:#D39494;
}

.tagify__dropdown {
  position: absolute;
  z-index: 9999;
  transform: translateY(1px);
  overflow: hidden;

  &[placement=top] {
    margin-top: 0;
    transform: translateY(-100%);

    .tagify__dropdown__wrapper {
      border-top-width: 1.1px;
      border-bottom-width: 0;
    }
  }

  &[position=text] {
    box-shadow: 0 0 0 3px rgba(var(--tagify-dd-color-primary), 0.1);
    font-size: .9em;

    .tagify__dropdown__wrapper {
      border-width: 1px;
    }
  }
}

.tagify__dropdown__wrapper {
  max-height: 300px;
  overflow: auto;
  background: #fff;
  background: var(--tagify-dd-bg-color);
  border: 1px solid #3595f6;
  border-color: var(--tagify-dd-color-primary);
  border-bottom-width: 1.33px;
  border-top-width: 0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  transition: 0.25s cubic-bezier(0, 1, 0.5, 1);
}

.tagify__dropdown--initial {
  .tagify__dropdown__wrapper {
    max-height: 20px;
    transform: translateY(-1em);
  }

  &[placement=top] .tagify__dropdown__wrapper {
    transform: translateY(2em);
  }
}

.tagify__dropdown__item {
  box-sizing: inherit;
  padding: .3em .5em;
  margin: 1px;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  outline: 0;
}

.tagify__dropdown__item--active {
  background: #3595f6;
  background: var(--tagify-dd-color-primary);
  color: #fff;
}

.tagify__dropdown__item:active {
  filter: brightness(105%);
}