.twentytwenty-horizontal {
	.twentytwenty-handle {
		&:before {
			content: " ";
			display: block;
			background: white;
			position: absolute;
			z-index: 30;
			-webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			-moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			width: 2px;
			height: 9999px;
			left: 50%;
			margin-left: -1.5px;
			bottom: 50%;
			margin-bottom: 22px;
			-webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
			-moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
			box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
		}

		&:after {
			content: " ";
			display: block;
			background: white;
			position: absolute;
			z-index: 30;
			-webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			-moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			width: 2px;
			height: 9999px;
			left: 50%;
			margin-left: -1.5px;
			top: 50%;
			margin-top: 22px;
			-webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
			-moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
			box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
		}
	}

	.twentytwenty-before-label {
		&:before {
			top: 50%;
			margin-top: -19px;
			left: 10px;
		}
	}

	.twentytwenty-after-label {
		&:before {
			top: 50%;
			margin-top: -19px;
			right: 10px;
		}
	}
}

.twentytwenty-vertical {
	.twentytwenty-handle {
		&:before {
			content: " ";
			display: block;
			background: white;
			position: absolute;
			z-index: 30;
			-webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			-moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			width: 9999px;
			height: 3px;
			top: 50%;
			margin-top: -1.5px;
			left: 50%;
			margin-left: 22px;
			-webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
			-moz-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
			box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
		}

		&:after {
			content: " ";
			display: block;
			background: white;
			position: absolute;
			z-index: 30;
			-webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			-moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
			width: 9999px;
			height: 3px;
			top: 50%;
			margin-top: -1.5px;
			right: 50%;
			margin-right: 22px;
			-webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
			-moz-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
			box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
		}
	}

	.twentytwenty-before-label {
		&:before {
			left: 50%;
			margin-left: -45px;
			text-align: center;
			width: 90px;
			top: 10px;
		}
	}

	.twentytwenty-after-label {
		&:before {
			left: 50%;
			margin-left: -45px;
			text-align: center;
			width: 90px;
			bottom: 10px;
		}
	}
}

.twentytwenty-before-label {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	transition-property: opacity;
	opacity: 0;

	&:before {
		color: white;
		font-size: 13px;
		letter-spacing: 0.1em;
		position: absolute;
		background: rgba(255, 255, 255, 0.2);
		line-height: 38px;
		padding: 0 20px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		content: attr(data-content);
	}
}

.twentytwenty-after-label {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	transition-property: opacity;
	opacity: 0;

	&:before {
		color: white;
		font-size: 13px;
		letter-spacing: 0.1em;
		position: absolute;
		background: rgba(255, 255, 255, 0.2);
		line-height: 38px;
		padding: 0 20px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		content: attr(data-content);
	}
}

.twentytwenty-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: background;
	-moz-transition-property: background;
	transition-property: background;
	background: rgba(0, 0, 0, 0);
	z-index: 25;

	&:hover {
		background: rgba(0, 0, 0, 0.5);

		.twentytwenty-after-label {
			opacity: 1;
		}

		.twentytwenty-before-label {
			opacity: 1;
		}
	}
}

.twentytwenty-left-arrow {
	width: 0;
	height: 0;
	border: 6px inset transparent;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	border-right: 10px solid white;
	left: 50%;
	margin-left: -17px;
}

.twentytwenty-right-arrow {
	width: 0;
	height: 0;
	border: 6px inset transparent;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	border-left: 10px solid white;
	right: 50%;
	margin-right: -17px;
}

.twentytwenty-up-arrow {
	width: 0;
	height: 0;
	border: 6px inset transparent;
	position: absolute;
	left: 50%;
	margin-left: -6px;
	border-bottom: 6px solid white;
	top: 50%;
	margin-top: -17px;
}

.twentytwenty-down-arrow {
	width: 0;
	height: 0;
	border: 6px inset transparent;
	position: absolute;
	left: 50%;
	margin-left: -6px;
	border-top: 6px solid white;
	bottom: 50%;
	margin-bottom: -17px;
}

.twentytwenty-container {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	z-index: 0;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	img {
		max-width: 100%;
		position: absolute;
		top: 0;
		display: block;
	}

	* {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
}

.twentytwenty-container.active {
	.twentytwenty-overlay {
		background: rgba(0, 0, 0, 0);

		.twentytwenty-before-label {
			opacity: 0;
		}

		.twentytwenty-after-label {
			opacity: 0;
		}
	}

	&:hover.twentytwenty-overlay {
		background: rgba(0, 0, 0, 0);

		.twentytwenty-before-label {
			opacity: 0;
		}

		.twentytwenty-after-label {
			opacity: 0;
		}
	}
}

.twentytwenty-before {
	z-index: 20;
}

.twentytwenty-after {
	z-index: 10;
}

.twentytwenty-handle {
	height: 38px;
	width: 38px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -22px;
	margin-top: -22px;
	border: 2px solid white;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
	box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
	z-index: 40;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.6);
}