/* jQuery Growl
 * Copyright 2015 Kevin Sylvestre
 * 1.3.5
 */
.ontop {
	z-index: 9999999;
	position: fixed;
}

#growls-default {
	z-index: 9999999;
	position: fixed;
	top: 10px;
	right: 10px;
}

#growls-tl {
	z-index: 9999999;
	position: fixed;
	top: 10px;
	left: 10px;
}

#growls-tr {
	z-index: 9999999;
	position: fixed;
	top: 10px;
	right: 10px;
}

#growls-bl {
	z-index: 9999999;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

#growls-br {
	z-index: 9999999;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#growls-tc {
	z-index: 9999999;
	position: fixed;
	top: 10px;
	right: 10px;
	left: 10px;

	.growl {
		margin-left: auto;
		margin-right: auto;
	}
}

#growls-bc {
	z-index: 9999999;
	position: fixed;
	bottom: 10px;
	right: 10px;
	left: 10px;

	.growl {
		margin-left: auto;
		margin-right: auto;
	}
}

#growls-cc {
	z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -125px;
}

#growls-cl {
	z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 10px;
}

#growls-cr {
	z-index: 9999999;
	position: fixed;
	top: 50%;
	right: 10px;
}

.growl {
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: relative;
	border-radius: 4px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	.growl-close {
		cursor: pointer;
		float: right;
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		font-family: helvetica, verdana, sans-serif;
	}

	.growl-title {
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		margin-bottom: 5px;
	}

	.growl-message {
		font-size: 13px;
		line-height: 18px;
	}
}

.growl.growl-incoming {
	opacity: 0;
	filter: alpha(opacity=0);
}

.growl.growl-outgoing {
	opacity: 0;
	filter: alpha(opacity=0);
}

.growl.growl-small {
	width: 200px;
	padding: 5px;
	margin: 5px;
}

.growl.growl-medium {
	width: 250px;
	padding: 10px;
	margin: 10px;
}

.growl.growl-large {
	width: 300px;
	padding: 15px;
	margin: 15px;
}

.growl.growl-default {
	color: #FFF;
	background: #2d2d2d;
}

.growl.growl-error {
	color: #FFF;
	background: #ff5b51;
}

.growl.growl-notice {
	color: #FFF;
	background: #2dce89;
}

.growl.growl-sucess {
	color: #FFF;
	background: #2dce89;
}

.growl.growl-warning {
	color: #000;
	background: #ecb403;
}