$background: #f8f8fc;
$color: #6c756e;
$default-color: #303131;
// $dark-theme: #1a1c33;

/*Color Variables*/
$primary: #3ec2cf;
$primary-hover: var(--primary-bg-hover);
$primary-border: var(--primary-bg-border);
$primary-06: var(--primary06);
$primary-02: var(--primary02);
$primary-09: var(--primary09);
$secondary: #5b73e8;
$pink: #ec82ef;
$teal: #2bcbba;
$cyan: #116e7c;
$purple: #aa4cf2;
$success: #38cb89;
$warning: #ffab00;
$danger: #a50045;
$info: #3e80eb;
$orange: #fc7303;
$dark: #343a40;
$indigo: #6574cd;
$gray: #868e96;
$white: #fff;
$black: #000;
$transparent: #332525;

/*Gradient variables*/
$primary-gradient: linear-gradient(to right, $primary 0%, $primary-09 90%);

/*Border Variables*/
$border: #e6ebf1;

/*Shadow Variables*/
$shadow: 0 0.76rem 1.52rem rgba(18, 38, 63, 0.03);

/*Dark Theme Variables*/

$dark-body: var(--dark-body);
$dark-theme: var(--dark-theme);
// $dark-menu: #2c2f3e;
$dark-text: rgba(255, 255, 255, 0.8);
$dark-bg: var(--dark-bg);
$text-color: rgba(255, 255, 255, 0.8);
$border-dark: var(--dark-border);
$dark-card-shadow: 0 3px 9px 0 rgba(28, 28, 51, 0.15);
/*Transparent variables*/

/*Colors*/
$primary2: #2ec49f;
$primary3: #0062cd;
$primary4: #f66347;
$primary5: #06bfd3;