/*!
 * SmartWizard v4.3.x
 * jQuery Wizard Plugin
 * http://www.techlaboratory.net/smartwizard
 *
 * Created by Dipu Raj
 * http://dipuraj.me
 *
 * Licensed under the terms of MIT License
 * https://github.com/techlab/SmartWizard/blob/master/LICENSE
 */
/* SmartWizard Theme: Dots */
/* Anchors styles */
/* Active anchors */
/* Done anchors */
/* Danger anchors */
/* Responsive CSS */
.sw-theme-dots {
    .sw-container {
        min-height: 300px;
    }

    .step-content {
        padding: 15px;
        border: none;
        background-color: #FFF;
        text-align: left;
    }

    .sw-toolbar {
        background: #fff;
        border-radius: 0 !important;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0 !important;
    }

    .sw-toolbar-top {
        border-bottom-color: #ddd !important;
    }

    .sw-toolbar-bottom {
        border-top-color: #ddd !important;
        border-bottom-color: #ddd !important;
    }

    >ul.step-anchor {
        position: relative;
        background: #fff;
        border: 0px solid #5c6287 !important;
        list-style: none;

        &:before {
            content: " ";
            position: absolute;
            top: 59px;
            bottom: 0;
            left: 20px;
            width: 96%;
            height: 5px;
            background-color: #f3f4f7;
            border-radius: 3px;
            z-order: 0;
            z-index: 95;
        }

        >li {
            border: none;

            >a {
                position: relative;
                text-align: center;
                font-weight: bold;
                background: transparent;
                border: none;
                text-decoration: none;
                outline-style: none;
                z-index: 96;
                display: block;

                &:before {
                    content: ' ';
                    position: absolute;
                    bottom: 14px;
                    left: 37%;
                    margin-top: 20px;
                    display: block;
                    border-radius: 50%;
                    background: #f3f4f7;
                    border: none;
                    width: 30px;
                    height: 30px;
                    text-decoration: none;
                    z-index: 98;
                }

                &:after {
                    content: ' ';
                    position: relative;
                    left: 38%;
                    bottom: 5px;
                    margin-top: 24px;
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: #b4bdce;
                    border-radius: 50%;
                    z-index: 99;
                }

                &:hover {
                    color: #5c6287;
                    background: transparent;
                }

                &:focus {
                    color: #5c6287;
                    border: none;
                }
            }
        }

        >li.clickable {
            >a {
                &:hover {
                    color: #999;
                }
            }
        }

        >li.active {
            >a {
                &:hover {
                    border: none;
                }
            }
        }

        >li.done {
            >a {
                color: #5c6287;

                &:after {
                    background: #b3b7da;
                }
            }
        }

        >li.danger {
            >a {
                color: #d5cef3;

                &:after {
                    background: #d5cef3;
                }
            }
        }

        >li.disabled {
            >a {
                color: #eee !important;

                &:hover {
                    color: #eee !important;
                }

                &:after {
                    background: #eee;
                }
            }
        }
    }

    nav-tabs {
        .nav-link {
            &:hover {
                &:not(.disabled) {
                    color: inherit;
                    background: transparent !important;
                }
            }
        }
    }
}

.step-anchor {
    .nav-tabs {
        .nav-item {
            .nav-link {
                color: #5c6287 !important;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .sw-theme-dots {
        >ul.step-anchor {
            &:before {
                top: 0;
                bottom: 0;
                left: 19px;
                width: 5px;
                height: 100%;
                background-color: #f5f5f5;
                display: block;
                margin-right: 10px;
            }

            >li {
                margin-left: 20px;
                display: block;
                clear: both;

                >a {
                    text-align: left;
                    margin-left: 0;
                    display: block;

                    &:before {
                        top: -17px;
                        left: -14px;
                        margin-right: 10px;
                        display: block;
                    }

                    &:after {
                        top: -48px;
                        left: -33px;
                        margin-right: 10px;
                        display: block;
                    }
                }
            }
        }

        .nav {
            .nav-item {
                width: 100%;
            }
        }
    }
}