@font-face {
  font-family: 'lgsmart';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/LGSMHATL.TTF") format("truetype");
  src: url("../fonts/LGSMHATL.woff") format("woff");
}

@font-face {
  font-family: 'lgsmart';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/LGSMHATR.TTF") format("truetype");
  src: url("../fonts/LGSMHATR.woff") format("woff");
}

@font-face {
  font-family: 'lgsmart';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/LGSMHATSB.TTF") format("truetype");
  src: url("../fonts/LGSMHATSB.woff") format("woff");
}

@font-face {
  font-family: 'lgsmart';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/LGSMHATB.TTF") format("truetype");
  src: url("../fonts/LGSMHATB.woff") format("woff");
}

.header-left-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left-info .btn {
  margin: 0 0.9375rem;
}

.table.fixed-table table {
  table-layout: fixed;
  width: 100%;
}

.text-left {
  text-align: left !important;
}

.table-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem;
}

.table-footer .prefix,
.table-footer .suffix,
.table-footer .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-footer .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.table-footer .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-footer .prefix .btn + .btn {
  margin-left: 0.3125rem;
}

.table-footer .suffix ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-footer .suffix ul li {
  position: relative;
  padding-right: 0.625rem;
}

.table-footer .suffix ul li:after {
  content: '';
  width: 0.0625rem;
  height: 0.9375rem;
  background-color: #333;
  position: absolute;
  right: 0.0625rem;
  top: 0;
}

.table-footer .suffix ul li:last-child {
  padding-right: 0;
  padding-left: 0.3125rem;
}

.table-footer .suffix ul li:last-child:after {
  display: none;
}

.table-footer.write-form-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.625rem;
}

.table-footer.write-form-type .btn + .btn {
  margin-left: 0.3125rem;
}

.table-footer.none-side-pad {
  padding: 0;
}

.modal-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.modal-search .btn {
  line-height: 2.375rem;
  height: 2.375rem;
  padding-top: 0;
  margin-left: 0.625rem;
}

.modal-body .table table tr td, .modal-body .table table tr th {
  vertical-align: middle;
}

.modal-body .table table tr td label, .modal-body .table table tr th label {
  margin: 0;
}

.modal-body .table table tr td label .custom-control-label, .modal-body .table table tr th label .custom-control-label {
  margin: 0;
}

.modal-body .table table tr td label .custom-control-label:after, .modal-body .table table tr td label .custom-control-label:before, .modal-body .table table tr th label .custom-control-label:after, .modal-body .table table tr th label .custom-control-label:before {
  left: 0.8125rem;
}

.keyword-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.keyword-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.keyword-list li input {
  width: 12.5rem;
  margin-left: 0.625rem;
}

.col-input-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-input-list label + label {
  margin-left: 1.25rem;
}

.custom-section {
  width: 100%;
  min-width: 96.875rem;
}

.custom-section .wrapper {
  width: 100%;
  max-width: 96.875rem;
  margin: auto;
}

* {
  font-family: 'lgsmart';
}
