@mixin iconsetting {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ico-search{
    @include iconsetting;
    background-image: url(../images/ico_search.png);
    width: rem(34);
    height: rem(34);
}