section {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	margin-bottom: rem(120);
	.gnb-title {
		width: 100%;
		height: rem(200);
		background-repeat:no-repeat;
		background-position:center;
		background-size:100% 100%;
		image-rendering: pixelated;
		color:$white;
		text-align:center;
		display:flex;
		flex-direction:column;
		align-items: center;
		justify-content: center;
		h1{
			font-size:rem(46);
			font-weight: $bold;
			text-transform: capitalize;
		}
		p{
			font-size:rem(18);
			letter-spacing: -0.025em;
			margin-top:0.25rem;
			font-weight: $medium;
		}
	}
	> .wrap{
		margin-top:rem(60);
	}
	.tit { 
		ul {
			display: flex;
			justify-content: center;
			li {
				width: rem(140);
				height: rem(38);
				border: rem(1) solid #ddd;
				border-radius: rem(20);
				color: #333;
				font-weight: $medium;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor:pointer;
				&.on {
					border: none;
					color: $white;
				}
				+ li {
					margin-left: rem(9);
				}
			}
		}
	}
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: rem(30) rem(16);
		width: 100%;
		margin-top: rem(60);
		justify-content: space-between;
		li {
			position: relative;
			top:0;
			display: block;
			max-width: rem(338);
			background: $white;
			padding-top: rem(30);
			box-shadow: rem(5) rem(10) rem(20) rem(2) rgba(0,0,0,.15);
			letter-spacing: -0.1em;
			border-radius:rem(10);
			transition:all .3s;
			cursor: pointer;
			&.active {
				top: rem(-20);
				box-shadow:  rem(6) rem(12) rem(16) rem(2) rgba(0,0,0,.3);
			}
			.list-tit {
				padding:0 rem(20);
				p {
					display: flex;
					span {
						display: flex;
						justify-content: center;
						align-items: center;
						font-size:rem(14);
						background: #ebebeb;
						font-weight: $medium;
					}
				}
				h3{
					font-size:rem(22);
					font-weight: $medium;
					color:#333;
					line-height:1.5;
					margin-bottom:rem(32);
					letter-spacing: -0.1em;
					@include textoverflow;
					max-width:rem(232);
					height: rem(66);
				}
				.hash{
					margin-bottom:rem(21);
					span{
						+ span{margin-left:rem(3);}
					}
				}
			}
			.thumnail{
				p {
					img {
						display: block;
						height: auto;
						min-height: 100%;
					}
					&.thum-box{
						min-height: rem(248);
						height: 10vw;
						overflow: hidden;
						position: relative;
						img{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
						}
					}
					&.date{
						padding-left: rem(20);
						margin:rem(15) 0;
						span{
							position:relative;
							margin-right:rem(7);
							&:last-child{
								margin:0 0 0 rem(7);
								&:last-child:before{
									position:absolute;
									top: rem(1);
									left: rem(-7);
									content:'';
									width:rem(1);
									height:rem(14);
									background:#a3a3a3;
								}
							}
						}
					}
				}
			}
		}
		&.one-text{
			li{
				h3{
					max-width: 100%;
					@include textoverflow;
					@include textoverflow-one;
				}
			}
		}

	}
	.small-tit{
		position:relative;
		margin-bottom:rem(27);
		&:before{
			content:'';
			display:inline-block;
			width:rem(38);
			height:rem(38);
			border-radius:rem(50);
			background:url(../images/blog-icons.png) no-repeat;
		}
		&.news:before{
			background-color:#23b8d1;
		}
		&.people:before{
			background-color:$main-color-green;
			background-position-y:rem(-48);
		}
		&.comu:before{
			background-color:$main-color-pink;
			background-position-y:rem(-96);
		}
		&.storage:before{
			background-color:$main-color-purple;
			background-position-y:rem(-144);
		}
		span {
			padding: rem(10) rem(16) rem(8) rem(16);
			margin-left:rem(10);
			border-radius: rem(20);
			color: #333;
		}
	}
	.page-nation{
		width:100%;
		height:rem(50);
		margin-top:rem(60);
		display:flex;
		justify-content: center;
		align-items: center;
		> a{
			width:rem(34);
			height:rem(34);
			border:rem(1) solid #acacac;
			border-radius: 50%;
			position:relative;
			+ a{
				margin-left:rem(10);
			}
			&:after{
				content:'';
				display:block;
				width:rem(16);
				height:rem(17);
				position:absolute;
				top: 50%;
				left: 50%;
				background:url(../images/page-btns.png) no-repeat 0 0;
			}
			&.prev:after,
			&.next:after{
				width:rem(10);
				background-position-y:rem(-21);

			}
			&.first:after,
			&.prev:after{
				transform: translate(-50%,-50%);
			}
			&.next:after,
			&.last:after{
				transform: translate(-50%,-50%) rotate(180deg);
			}
		}
		.number{
			display: flex;
			margin:0 rem(40);
			a{
				font-size:rem(20);
				font-weight:$medium;
				display:block;
				padding:0 rem(3);
				+ a{
					margin-left:rem(18);
				}
				&.on{
					color:$main-color-blue;
					position:relative;
					&:after{
						display:block;
						content:'';
						width:100%;
						height:rem(2);
						position: absolute;
    					left: 0;
						background:$main-color-blue;
					}
				}

			}
		}
	}
	.view-wrapper{
		.content-box{
			display:flex;
			flex-direction: column;
			margin-bottom:rem(40);
			.content-tit{
				display:flex;
				flex-direction: column;
				justify-content: center;
				h5,em{
					font-weight:$medium;
				}
				h5{
					// display:inline-block;
					margin:0 auto;
					padding:0 rem(23);
					height:rem(34);
					@include flex-row-center;
					font-size:rem(16);
					color:$white;
					border-radius: rem(50);
					&.news{
						background:$main-color-blue;
					}
					&.people{
						background: $main-color-green;
					}
					&.comu{
						background:$main-color-pink;
					}
					&.storage{
						background:$main-color-purple;
					}
					em{
						padding-left:rem(20);
						position:relative;
						&:before{
							display:inline-block;
							content:'';
							width:rem(1);
							height:rem(13);
							background:$white;
							position:absolute;
							top:rem(2);
							left:rem(10)
						}
					}
				}
				p{
					text-align:center;
					font-size:rem(56);
					font-weight:$medium;
					line-height:1.5;
					margin-top:rem(60);
					span{
						display:block;
						font-weight:$medium;
						font-size:rem(34);
						color:#666;
					}
				}
			}
			.content-img{
				margin:rem(80) 0 rem(40) 0;
				img{
					display:block;
				}
			}
			.content-txt{
				margin-left:rem(20);
				h5,p{
					font-size:rem(15);
					font-weight:$medium;
					line-height:1.5;
				}
			}
			.share-buttons{
				display: flex;
				margin: rem(60) auto 0 auto;
				div{
					display:block;
					button{
						width:rem(36);
						height:rem(36);
						background:url(../images/share-buttons.png) no-repeat 0 0;
					}
					p{
						margin-top:rem(5);
						text-align:center;
					}
					+ div{
						margin-left:rem(20);
					}
					&:nth-child(2){
						button{
							background-position-x: rem(-56);
						}
					}
					&:nth-child(3){
						button{
							background-position-x: rem(-112);
						}
					}
					.good-share{
						&.in{
							background-position-y: rem(-41);
						}
					}
				}
			}
		}
		.comment-box{
			border-top:rem(1) solid #e0e0e0;
			border-bottom:rem(1) solid #e0e0e0;
			padding:rem(32) 0 rem(80) 0;
			.comment-input{
				padding:0 rem(20);
					.checkbox{
						label {
							display:flex;
							align-items: center;
							.box {
								display: block;
								width: rem(20);
								height: rem(20);
								background-color: $white;
								border:rem(2) solid #999;
								cursor: pointer;
							}
							input[type="checkbox"]{
								display: none;
								&:checked + .box {
									border:rem(2) solid $main-color-blue;
									background:url(../images/news-view-icons.png) no-repeat rem(-31) rem(-2);
								}
							}
							.text {
								padding:rem(1) 0 0 rem(6);
								display: flex;
								align-items: center;
								font-weight:$medium;
							}
						}
					}
				.comment{
					position:relative;
					background:#f2f2f2;
					height:rem(42);
					padding-left: rem(20);
					border-radius:rem(50);
					display:flex;
					justify-content: space-between;
					>p{
						display:flex;
						align-items: center;
					}
					input,p{
						background:transparent;
						font-size:rem(15);
						flex:1 0 0;
						width:80%;
						max-width:rem(600);
						color:#666;
					}
				}
			}
			.good-area{
				margin:rem(20) 0 0 rem(20);
				.com-tit{
					display:inline-block;
					flex-direction: column;
					padding:rem(15) rem(20);
					background:#f5f5f5;
					border-radius: rem(20);
					position:relative;
					&:before,
					&:after{
						content:'';
						display:block;
						background:url(../images/news-view-icons.png) no-repeat;
						position:absolute;
					}
					&:after{
						width:rem(13);
						height:rem(10);
						background-position:0 0;
						left: rem(8);
						bottom: rem(-8);
					}
					p:last-child{
						margin-top:rem(13);
					}
					&.good{
						&:before{
							width:rem(12);
							height:rem(14);
							background-position:rem(-16) 0;
							left:rem(-18);
							top:rem(10);
						}
						&:after{
							left:auto;
							right: rem(7);
							bottom: rem(-8);
							transform: scaleX(-1);
						}
					}
				}
				.icons{
					margin-top:rem(25);
					// margin-left:rem(36);
					span{
						font-size:rem(16);
						font-weight:$medium;
						color:#666;
						+ span{
							margin-left:rem(12);
						}
						button{
							background:transparent;
							font-size:rem(16);
							font-weight:$medium;
							color:#666;
						}
					}
					.good-btn{
						&.click{
							button{
								color:$main-color-pink;
							}
						}
						em{
							padding-left:rem(3);
						}
					}
				}
				&.rep{
					margin:rem(30) 0 rem(30) rem(40);
					.icons{
						margin-left:0;
					}
				}
				.comment-input{
					display:none;
					padding:0;
					margin-top:rem(20);
					.com-tit{
						display:flex;
						flex-direction:row;
						background:transparent;
						padding:0;
						margin-bottom: 0.75rem;
					}
					&.active{
						display:block;
					}
				}
			}
			.com-tit{
				margin-bottom:rem(12);
				display:flex;
				p{
					color:#333;
					display:flex;
					align-items: flex-end;
					margin-right:rem(20);
					font-weight:$medium;
					span{
						margin-left:rem(10);
						position:relative;
						font-weight:$medium;
						&:before{
							content:'';
							width:rem(1);
							height:rem(12);
							background:#333;
							position:absolute;
							left:rem(-5);
							top:rem(1);
						}
					}
				}
			}
			.diy-buttons{
				display:flex;
				.diy-buttons-inner{
					display:flex;
					justify-content: center;
					align-items:center;
					.img_upload,
					button{
						width:rem(24);
						height:rem(20);
						background:url(../images/diy-icons.png) no-repeat 0 0;
					}
					.img_upload{
						cursor: pointer;
						display:block;
						margin-right:rem(12);
						#img_upload{
							display:none;
						}
					}
					button{
						+ button{
							margin-left:rem(12);
						}
						&.rel{
							background-position-x: rem(-38);
						}
						&.emoji{
							background-position-x: rem(-78);
						}
					}
				}
				.submit{
					margin-left:rem(30);
					background:#4bbdcf;
					border-radius:rem(50);
					width:rem(80);
					color:$white;
					font-weight:$medium;
					&:hover{
						background:$main-color-blue;
					}
				}
			}
		}
		.list-button{
			display:flex;
			justify-content: center;
			margin-top:rem(30);
			a{
				width:rem(120);
				height:rem(50);
				background:$main-color-blue;
				color:#fff;
				display: flex;
				justify-content:center;
				align-items: center;
				border-radius: rem(8);
				font-weight: $medium;
			}
		}
		.one-meet{
			font-weight:$medium;
			color:#333;
			font-size:rem(30);
			display:block;
			text-align:center;
			padding-top:rem(100);
			border-top:rem(1) solid #c0c0c0;
		}
		.list{
			margin-top:rem(74);
		}
	}
	&.news{
		.gnb-title {
			background-color: $main-color-blue;
			background-image: url(../images/title-bg01.jpg);
		}
		.tit { 
			ul {
				li {
					&.on{
						background: $main-color-blue;
					}
				}
			}
		}
	}	
	&.people{
		.gnb-title {
			background-color: $main-color-green;
			background-image: url(../images/title-bg02.jpg);
		}
		.tit { 
			ul {
				li {
					&.on{
						background: $main-color-green;
					}
				}
			}
		}
		#ensole-box{
			width: 100%;	
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
			margin-top:rem(60);
			left:0;
			.item{
				cursor:pointer;
				position:relative;
				display:inline-block;	
				width:rem(264);
				min-width: 18%;
				img{
					display: block;
					max-width:100%;
					height: auto;
					border:rem(1) solid #ddd;
				}
				.item-inner{
					position:relative;
					overflow:hidden;
					box-shadow: rem(8) rem(10) rem(9) rem(0) rgba(0,0,0,.2);
					&:nth-child(2){
						margin-top:rem(134);
					}
					.overlay{
						opacity: 0;
						transition:opacity .35s;
						position:absolute;
						top:0;
						width:100%;
						height:100%;
						background:rgba(0,0,0,.5);
						border:rem(8) solid $main-color-green;
						box-sizing: border-box;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items:center;
						.small-tit{
							margin-bottom:0;
							max-width:rem(95);
							display: flex;
							flex-direction: column;
							justify-content: center;
							&.people:before{
								display:block;
								margin:0 auto;
							}
							span{
								margin:rem(14) 0 rem(30) 0;
								background:$white;
								font-size:rem(16);
								font-weight:$medium;
							}
						}
						h5{
							color:$white;
							font-size:rem(22);
							font-weight:$medium;
							text-align: center;
							line-height:1.5;
							letter-spacing: -0.025em;
							@include textoverflow;
							padding: 0 3px;
						}
					}
					&:hover{
						.overlay{
							opacity: 1;
						}
					}
				}
				&:after{
					content:'';
					display:block;
					height:rem(36);
				}
			}
		}
		.loadmore{
			width:100%;
			height:60px;
			background:#fafafa;
			border-top:rem(1) solid #ddd;
			border-bottom:rem(1) solid #ddd;
			color:#666;
			margin-top:rem(43);
			span{
				font-size:rem(18);
				font-weight:$medium;
				position:relative;
				&:after,
				em{
					position:absolute;
					top:rem(-1);
					right:rem(-28);
					width:rem(20);
					height:rem(20);
				}
				&:after{
					content:'';
					border-radius: rem(50);
					background:#c0c0c0;
				}
				em{
					font-size:0;
					z-index:10;
					&:before,
					&:after{
						content:'';
						display:block;
						position:absolute;
						background:$white;
						left:50%;
						top:50%;
						transform:translate(-50%,-50%);
					}
					&:before{
						width:rem(2);
						height:rem(8);
					}
					&:after{
						width:rem(8);
						height:rem(2);

					}
				}
			}
		}
	}
	&.comu{
		.gnb-title {
			background-color: $main-color-pink;
			background-image: url(../images/title-bg03.jpg);
		}
		.tit { 
			ul {
				li {
					&.on{
						background: $main-color-pink;
					}
				}
			}
		}
		.list{
			&.comu-list{
				li{
					padding-top:0;
					.thumnail{
						border-radius: rem(10) rem(10) 0 0;
						overflow: hidden;
						&.thum-box{
							min-height: rem(256);
						}
					}
					.list-tit {
						padding:0 rem(20);
						margin:rem(30) 0;
						p {
							span{
								width:rem(100);
								margin-left:0;
								letter-spacing:0;
								padding:rem(7) rem(15) rem(5) rem(15);
								border-radius:rem(5);
							}
							&.badge01{
								span{
									color:$main-color-purple;
									background:$white;
									border: rem(1) solid $main-color-purple;
								}
							}
							&.badge02{
								span{
									color:$white;
									background:$main-color-blue;
								}
							}
							&.badge03{
								span{
									color:#666;
								}
							}
						}
						.tit-date{
							font-size:rem(14);
							margin:rem(20) 0 rem(12) 0;
	
							em{
								padding:0 rem(5);
							}
						}
						.tit-date,
						em{
							color:#666;
							font-weight:$medium;
						}
						h3{
							margin-bottom:0;
						}
					}
				}
			}
		}
	}
	&.storage{
		.gnb-title {
			background-color:$main-color-purple;
			background-image:url(../images/title-bg04.jpg);
		}
		.tit { 
			ul {
				li {
					width: 11.1%;
					height: rem(60);
					border: rem(1) solid #ddd;
					border-radius: rem(10) rem(10) 0 0;
					color: #333;
					&.on {
						border: none;
						color: $white;
						background: $main-color-purple;
					}
					+ li {
						margin-left: 0;
						border-left:0;
					}
				}
			}
		}
		.storage-box{
			div{
				margin-top:rem(60);
				width:100%;
				height:rem(655);
				border:rem(1) solid #ccc;
			}
		}
	}
	&.error{
		margin-bottom:0;
		> .wrap{
			background:#eaeaea;
			margin:0;
			max-width:100%;
			display: flex;
			flex-direction: column;
			flex: 1 0 auto;
			position:relative;
			.error-box{
				position:absolute;
				top:10%;
				left:50%;
				transform: translateX(-50%);
				height:rem(500);
				text-align:center;
				&:before{
					content:'';
					display:block;
					width:rem(140);
					height:rem(152);
					background:url(../images/ensole_error_char.png) no-repeat 0 0;
					margin:0 auto;
				}
				p:first-child{
					font-size:rem(22);
					font-weight:$bold;
					margin-top:rem(30);
					line-height:1.2;
					span{
						display:block;
						font-weight:$bold;
						text-transform:none !important;
					}
					+ p{
						font-weight:$medium;
						margin:rem(50) 0;
					}
				}
				a{
					font-weight:$medium;
					color:#fff;
					padding:rem(16) rem(33);
					background:$main-color-blue;
					border-radius:rem(10);
				}
			}
		}
	}
}
