.main-section{
    width: 100%;
    position: relative;
    .wrapper{
        position: relative;
        width: 100%;
        height: rem(770);
        margin: auto;
        background-image: url(../images/main-bg.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .layout-1400{
           max-width:1400px; 
           height: rem(770);
           position: relative; 
           margin: auto;
        }
        .title{
            text-align: center;
            padding-top: rem(72);
            transform: scale(0.8);
            p{
                font-size: rem(25);
                color: $white;
                margin-top:rem(5);
                font-weight: 500;
                
            }
        }
        .ceo-note{
            position: absolute;
            top: rem(5);
            left: 0;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-name: ceonotemove;
            z-index: 5;
            transform: scale(0.7);
        }
        .news-banner{
            position: absolute;
            top: rem(100);
            left: rem(3);
            transform: scale(0.7);
            >img{
                position: relative;
                z-index: 2;
            }
            .shawdow{
                position: absolute;
                top: rem(200);
                left: rem(-2);
                z-index: 1;
            }
            .panel{
                z-index: 3;
                position: absolute;
                top: rem(349);
                left: rem(111);
            }
            .cloud{
                position: absolute;
                top: rem(87);
                left: rem(375);
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-name: updown;
            }
            .swiper{
                position: absolute;
                z-index: 4;
                left: rem(100);
                top: rem(-47);
            }
            &:hover{
                .swiper{
                    display: block;
                }
            }
        }
        .storage-banner{
            position: absolute;
            left: rem(151);
            top:rem(510);
            transform: scale(0.7);
            >img{
                position: relative;
                z-index: 2;
            }
            .shadow{
                position: absolute;
                top: rem(44);
                z-index: 1;
            }
            .panel{
                position: absolute;
                top: rem(-60);
                right: rem(-51);
            }
            .swiper{
                position: absolute;
                top: rem(-174);
                left: rem(2);
                z-index: 3;
            }
            &:hover{
                .swiper{
                    display: block;
                }
            }
        }
        .community-banner{
            position: absolute;
            top: rem(260);
            left: 50%;
            transform: translateX(-45%) scale(0.7);
            >img{
                position: relative;
                z-index: 2;
            }
            .shadow{
                position: absolute;
                top: rem(162);
            }
            .panel{
                position: absolute;
                top: rem(367);
                left: rem(226);
            }
            .cloud{
                position: absolute;
                top: rem(41);
                left: rem(17);
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-name: coummunityCloud;
            }
            .swiper{
                position: absolute;
                top: rem(-58);
                left: rem(54);
                z-index: 3;
            }
            &:hover{
                .swiper{
                    display: block;
                }
            }
        }
        .people-banner{
            position: absolute;
            right: rem(90);
            top: rem(60);
            transform: scale(0.7);
            >img{
                position: relative;
                z-index: 2;
            }
            .shadow{
                position: absolute;
                top: rem(200);
            }
            .panel{
                position: absolute;
                left: rem(51);
                top: rem(390);
            }
            .drone{
                position: absolute;
                top: rem(-84);
                right: rem(-39);
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-name: dronemove;
            }
            .swiper{
                position: absolute;
                top: rem(9);
                left: rem(48);
                z-index: 3;
            }
            &:hover{
                .swiper{
                    display: block;
                }
            }
        }
        .tube{
            position: absolute;
            bottom: rem(50);
            left: rem(500);
             animation-duration: 2s;
             animation-iteration-count: infinite;
             animation-direction: alternate;
             animation-name: tubemove;
            transform: scale(0.7);
        }
        .welcome-banner{
            position: absolute;
            bottom: rem(50);
            right: rem(0);
            background-color: $white;
            border:rem(4) solid $lg-mint;
            border-radius: rem(50);
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(397);
            height: rem(97);
            text-align: center;
            transform: scale(0.7);
            .img-banner{
                position: absolute;
                left: rem(8);
                top: rem(-26);
            }
            .text-banner{
                text-align: left;
                color: $lg-pupple;
                font-size: rem(18);
                line-height: rem(26);
                font-weight: $medium;
                margin-left: rem(22);
                a{
                    display: inline-block;
                    color: $white;
                    background-color: $lg-pupple;
                    border-radius: rem(50);
                    width:rem(60);
                    line-height: rem(20);
                    text-align: center;
                    font-size: rem(16);
                    margin-left: rem(20);
                    font-weight: 500;
                }
            }
        }
        .panel{
            display: block;
        }
    }
}

@keyframes updown{
    from{
        top: rem(87);
    }
    to{
        top: rem(67);
    }
}
@keyframes coummunityCloud{
    from{
        top: rem(41);
    }
    to{
        top: rem(21);
    }
}
@keyframes shadowscale{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(0.8);
    }
}
@keyframes tubemove{
    from{
        left: rem(500);
    }
    to{
        left: rem(520);
    }
}
@keyframes dronemove{
    from{
        top: rem(-84);
    }
    to{
        top: rem(-94);
    }
}
@keyframes ceonotemove{
    from{
        top: rem(0);
    }
    to{
        top: rem(20);
    }
}
.gray{
    filter: grayscale(0.5);
}