.search-after{
    padding-top: rem(75);
    .search-form{
        position: relative;
        width: rem(800);
        margin: auto;
        input{
            width: 100%;
            border-bottom: rem(2) solid $black-two;
            color: $black-two;
            font-size: rem(24);
            line-height: rem(26);
            font-weight: 400;
            padding-right: rem(36);
        }
        .search-button{
            position: absolute;
            right: 0;
            top: rem(-17);
        }
    }
    .total{
        text-align: center;
        font-size: rem(30);
        color: #333;
        padding-top: rem(78);
        span{
            font-weight: 700;
        }
    }
    .tit{
        padding-top: rem(75);
        ul{
            li{
                &.on{
                    background-color: $lg-mint;
                    color: $white;
                }
            }
        }
    }
}