.logo-card-list{
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            width: rem(273);
            margin-right: rem(39);
            &:nth-child(5n){
                margin-right: 0;
            }
            .logo-img-banner{
                position: relative;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    width:70%
                }
            }
            .title-wrap{
                display: flex;
                align-items: center;
                padding:0 1.5rem;
                padding-top: rem(10);
                border-top: rem(1) solid #3ec2cf;
                .prefix{
                    display: flex;
                    align-items: center;
                    flex: 1 1 auto;
                    h3{
                        color: #333;
                        font-size: rem(16);
                        margin: 0;
                        max-width: rem(185);
                    }
                }
                .suffix{
                    display: flex;
                    margin-top: rem(5);
                }
            }
            .date{
                padding:0 1.5rem;
                color:#bfbec2 ;
            }
        }
    }
}