.menu-control{
    display: flex;
    align-self: center;
    .prefix,
    .suffix{
        display: flex;
    }
    .prefix{
        width: rem(290);
        margin-right: rem(40);
        .card{
           .card-body{
            padding-left: rem(10);
            padding-right: rem(10);
           }
        }
        .side-menu{
            margin-top: rem(20);
            padding-bottom:0;
        }

    }
    .suffix{
        width: rem(1220);
    }
}