@mixin flex-prefix-center-suffix {
  display: flex;
  .prefix,
  .suffix,
  .center {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.33%;
    align-items: center;
  }
  .suffix {
    justify-content: flex-end;
  }
  .center {
    justify-content: center;
  }
}