@media (min-width: 992px) {
    .horizontal .logo-horizontal {
        display: block;
    }

    .horizontal .header-brand-img {
        margin-top: 11px !important;
    }
}

.logo-horizontal {
    display: none;
}


@media (min-width: 992px) {

    .horizontal .side-menu .side-menu__icon {
        color: #555b6d;
        // width: 1.45rem !important;
        text-align: center;
        vertical-align: middle;
        margin-right: 0px !important;
        position: relative;
        font-size: 1.25rem !important;
        transition: all ease 0.3s;
        fill: #555b6d;
    }

    .horizontal-hover.horizontal .slide:hover ul.slide-menu {
        display: block !important;
    }

    .horizontal-hover.horizontal .sub-slide:hover .sub-slide-menu {
        display: block !important;
    }

    .horizontal-hover.horizontal .sub-slide2:hover .sub-slide-menu2 {
        display: block !important;
    }

    .horizontal-hover.horizontal .sub-slide.is-expanded .sub-angle {
        transform: none;
    }

    .horizontal .slide-menu a:before {
        left: -15px;
        margin-right: 0px;
    }

    // .horizontal .side-menu__label {
    //     margin-right: 6px;
    // }

    .horizontal .horizontal-main .slide .slide-menu{
        border-radius: 0 0 5px 5px !important;
    }

    .horizontal .header-brand-img {
        margin-top: 11px;
    }

    .horizontal .header .main-header-center {
        margin-top: 6px;
    }

    .horizontal .app-sidebar.horizontal-main .side-menu .side-item-category {
        display: none;
    }

    .horizontal .app-sidebar.horizontal-main .side-menu__item .badge {
        display: none;
    }

    .horizontal.dark-theme .horizontal-main .slide .slide-menu,
    .horizontal.dark-theme .horizontal-main .slide .sub-slide-menu {
        background-color: var(--dark-theme) !important;
        border: 1px solid #404353;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
    }

    .horizontal .horizontal-main {
        z-index: 77 !important;
    }

    .horizontal.dark-theme .logo-1 {
        display: none !important;
    }

    .horizontal.dark-theme .dark-logo-1 {
        display: block !important;
    }

    .horizontal .hor-header .container,
    .horizontal .horizontal-main .container,
    .horizontal .main-content.hor-content .container {
        max-width: 85% !important;
        padding: 0;
    }

    .horizontal .header.fixed-header.hor-header {
        position: relative;
    }

    .horizontal.scrollable-layout .horizontal-main {
        position: relative;
    }

    .horizontal .app-sidebar.horizontal-main .side-menu .sub-category {
        display: none;
    }

    .horizontal .app-sidebar.horizontal-main .side-menu .side-badge {
        display: none;
    }

    .horizontal .side-menu {
        display: flex;
        overflow: hidden;
        padding: 0;
        margin-top: 0;
    }

    .horizontal .main-sidemenu {
        margin-top: 0;
    }

    .horizontal .main-sidemenu {
        overflow: hidden;
    }

    .horizontal .app-sidebar__logo {
        display: none !important;
    }

    .horizontal .stickyClass .horizontal-main {
        width: 100%;
    }

    .horizontal .horizontal-main {
        position: relative;
        bottom: initial;
    }

    .horizontal .horizontal-main.ps {
        overflow: visible !important;
    }

    .horizontal .horizontal-main .slide .slide-menu,
    .horizontal .horizontal-main .slide .sub-slide-menu,
    .horizontal .horizontal-main .slide .sub-slide-menu2 {
        width: 190px;
        position: absolute;
        background-color: #fff;
        z-index: 9999;
        border-radius: 5px;
        padding: 5px;
        min-width: fit-content;
        box-shadow: 0px 16px 18px rgba(135, 135, 182, 0.1) !important;
        border: 1px solid #e7eaf3;
    }

    .horizontal .horizontal-main .slide .slide-menu .slide-item:before,
    .horizontal .horizontal-main .slide .sub-slide-menu .slide-item:before,
    .horizontal .horizontal-main .slide .sub-slide-menu2 .slide-item:before {
        left: -15px;
        margin-right: 0px;
    }

    .horizontal .slide-item {
        padding: 8px 35px;
    }

    .horizontal .fixed-header {
        position: fixed;
    }

    .horizontal .sub-slide-menu .sub-slide-item2 {
        padding: 8px 24px !important;
    }

    .horizontal .sub-slide .sub-angle {
        right: 0px;
        left: auto;
        margin-right: 0 !important;
        position: relative;
        margin-top: 6px;
    }

    .horizontal .sub-angle2 {
        margin-right: 11px;
        top: 6px !important;
    }

    .horizontal .app-sidebar {
        transition: none;
        width: 100%;
        .side-menu__item{
            padding: 13px 25px 13px 10px;
        }
    }

    .horizontal .sub-slide .sub-slide-menu {
        position: absolute;
        background-color: #fff;
        z-index: 9999;
        box-shadow: 5px 5px 5px #b9b9b9;
        border-radius: 5px;
        padding: 0px;
        min-width: fit-content;
        border: 1px solid #f0f0f8;
        left: 180px;
        top: 13px;
    }

    .horizontal .sub-slide .sub-slide-menu2 {
        position: absolute;
        background-color: #fff;
        z-index: 9999;
        box-shadow: 5px 5px 5px #b9b9b9;
        border-radius: 5px;
        padding: 0px;
        min-width: fit-content;
        border: 1px solid #f0f0f8;
        left: 180px;
        top: 13px;
    }

    .horizontal .sub-side-menu__item {
        padding: 8px 25px !important;
        line-height: 27px;
    }

    .horizontal .side-menu>li>a {
        display: flex;
        margin: -3px -4px !important;
        text-decoration: none;
        position: relative;
        // color: #ccd4e0;
        // padding: 14px !important;
        font-weight: 400;
    }

    .horizontal .side-menu>li>a.active {
        color: #6c756e;
    }

    .horizontal .main-sidemenu i.angle {
        position: relative;
        // top: 2px;
        right: -4px;
        transform: rotate(90deg);
        font-size: 15px;
    }

    .horizontal .main-sidemenu .slide.is-expanded i.angle {
        transform: rotate(-90deg);
        position: relative;
        top: 0px;
        font-size: 15px;
    }

    .horizontal .breadcrumb-header {
        margin-top: 20px;
    }

    .horizontal .side-menu .slide .side-menu__item.active {
        border-right: none;
    }

    .horizontal .slide {
        margin: 0 3px;
    }

    .horizontal .logo-horizontal {
        display: block;
    }

    .horizontal .app-sidebar__toggle {
        display: none !important;
    }

    .horizontal .logo-horizontal .header-brand-img.desktop-logo {
        display: none;
    }

    .horizontal .logo-horizontal .header-brand-img.light-logo1 {
        display: block;
    }

    .mobile-logo.dark-logo-1 {
        display: none;
    }

    .main-sidemenu .slide-right {
        right: 10px;
    }

    .main-sidemenu .slide-left,
    .main-sidemenu .slide-right {
        background-color: #fff;
        position: absolute;
        top: 10px;
        padding: 6px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
        border: 1px solid #eaedf1;
        border-radius: 50px;
    }

    .main-sidemenu .slide-left {
        left: 10px;
    }

    .horizontal-main {
        position: relative;
        margin: 0 auto;
    }

    .sticky-pin {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.app-sidebar.horizontal-main {
    padding-top: 0px;
}

.logo-horizontal {
    display: none;
}

@media (max-width: 991px) {
    .horizontal .app.horizontal .side-menu .side-item-category {
        display: block !important;
    }

    .horizontal .app-sidebar.horizontal-main {
        left: -300px;
    }

    .horizontal .main-header.hor-header {
        box-shadow: 0px 7px 26px rgba(154, 154, 204, 0.1);
    }

    .horizontal .main-sidemenu {
        padding: 0;
    }

    .horizontal .horizontalMenucontainer .main-header.hor-header {
        position: fixed;
    }

    .horizontal.app .main-sidemenu .slide-left,
    .horizontal.app .main-sidemenu .slide-right {
        display: none;
    }
    .hor-content .container, .hor-header .container {
        max-width: none;
    }
}

.horizontal .leftmenu-styles {
    display: none;
}

.app.sidebar-mini .main-sidemenu .slide-left,
.app.sidebar-mini .main-sidemenu .slide-right {
    display: none;
}

@media (max-width: 991px) {

    .logo-horizontal {
        display: block;
        left: 0;
        right: 0;
        width: inherit;
    }

    .header.hor-header {
        position: fixed;
        border-bottom: 1px solid #e9edf4;
        width: 100%;
        z-index: 999;
        top: 0;
    }

    .header.hor-header .header-brand-img.desktop-logo {
        display: none;
    }

    .header.hor-header .header-brand-img.light-logo1 {
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 991.98px) {
    .logo-horizontal .header-brand-img {
        margin-left: 60px;
    }
}

@media (max-width: 991px) {
    .header.hor-header .header-brand-img.desktop-logo {
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .horizontal-main.fixed-header.visible-title {
        width: 100%;
    }
    .horizontal{
        .hor-header {
            .search-element {
                top: 0px;
            }
        }
        .form-inline .form-control {
            padding-left: 14px;
            padding-top: 8px;
            margin-top: 12px;
        }
        .header-search {
            min-width: 25rem !important;
            border: 1px solid $border !important;
        }
        .form-inline .btn {
            padding: 4px 10px 4px 10px;
            top: 13px;
            background-color: $primary;
            opacity: 1;
            left: inherit;
            right: 0 !important;
        }
        .form-inline .btn .search-icon {
            fill: white !important;
            margin-top: 4px !important;
        }
        .search-icon {
            width: 24px;
            height: 24px;
        }
    } 
}

.horizontal {
    
    .hor-header .search-element {
        margin-left: 2rem;
    }

    .slide-menu li {
        position: relative;
    }
}

@media (min-width: 992px) {
    .horizontal {

        .footer {
            padding: 1.25rem 1.25rem !important;
        }

        &.dark-mode,
        .header-brand-img {
            .desktop-lgo {
                display: none;
            }

            .dark-logo {
                display: block;
            }
        }
        .slide-item {
            padding: 8px 25px;
        }

        .sub-slide-item {
            padding: 0 0 0 25px !important;
        }
    }

    .horizontal {

        &.dark-mode.appside-bar {
            box-shadow: 0px 4px 16px rgb(0 0 0 / 18%) !important;
        }

    }

    .horizontal {
        &.dark-mode.footer {
            padding: 1.25rem 1.25rem !important;
        }

        &.horizontal-hover.dark-mode .slide .slide-item:hover,
        .slide .slide-item:focus {
            color: #fff !important;
        }

        &.horizontal-hover.dark-mode .slide-menu .sub-slide a.sub-side-menu__item:hover {
            color: #fff !important;
        }

    }
}