.panel{
    display: none;
}

.search-accordion{
    padding-top: rem(76);
    .accordion{
        position: relative;
        border-bottom: rem(1) solid #aaaaaa;
        font-size: rem(20);
        line-height: rem(26);
        font-weight: 700;
        padding-bottom: rem(5);
        margin-bottom: rem(57);
        cursor: pointer;
        &:after{
            content: '';
            background-image: url(../images/ico-arrow-down.png);
            width: rem(26);
            height: rem(15);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 0;
            bottom: rem(10);
        }
        &.active{
            margin-bottom: 0;
            &:after{
                background-image: url(../images/ico-arrow-up.png);
            }
        }
    }
    .panel{
        margin-bottom: rem(57);
        li{
            display: flex;
            align-items: center;
            padding: rem(40) 0 ;
            border-bottom: rem(1) solid #dddddd;
            .prefix{
                width: rem(218);
                .img-banner{
                    width: rem(218);
                }
            }
            .suffix{
                flex: 1 1 auto ;
                margin-left: rem(29);
                .title{
                    font-size: rem(22);
                    line-height: rem(34);
                }
                .info-text{
                    font-size:rem(15);
                    line-height:rem(26);
                    margin-top: rem(22);
                    letter-spacing: -0.15px;
                }
            }
        }
    }
}