// body{
// 	position:relative;
// }
#wrapper {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	* {
		font-family: 'Gmarket Sans';
	}
}
.wrap {
	position: relative;
	width: 100%;
	max-width:rem(1400);
	margin: 0 auto;
}
.hash-box{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:rem(40);
	span{
		padding:10px 12px;
		display:inline-block;
		background:#ddd;
		color:#666;
		border-radius:50px;
		font-weight:$medium;
		text-transform:none !important;
		cursor: pointer;
		+ span{
			margin-left:10px;
		}
	}
	&.view{
		margin-top:rem(60);
	}
}
/*footer*/
footer {
	height: rem(75);
	background: #333;
	text-align: center;
	display: flex;
	align-items: center;
	color: #949494;
	position:relative;
		p{
			font-size:rem(14);
			font-weight:$medium;
			letter-spacing:-0.01em;
			color:#9a9a9a;
		}
		.site-area {
			position: absolute;
			right: 0;
			top: rem(-8);
			button {
				position: relative;
				width: rem(180);
				height: rem(36);
				color: #ccc;
				background: transparent;
				border: rem(1) solid #666;
				text-align: left;
				padding: 0 rem(12);
				&:after {
					content: '';
					position: absolute;
					top: rem(14);
					right: rem(12);
					width: 0;
					height: 0;
					border-top: 0;
					border-right: rem(5) solid transparent;
					border-left: rem(5) solid transparent;
					border-bottom: rem(8) solid #ccc;
				}
				&.on:after{
					transform:rotate(180deg);
				}
			}
			.site-list{
				position:absolute;
				top:rem(-72);
				left:0;
				display:none;
				flex-direction: column;
				border:rem(1) solid #666;
				width:100%;
				z-index:10;
				a{
					display:flex;
					align-items: center;
					justify-content: center;
					height:rem(36);
					background:$white;
					color:#333;
					font-weight:$medium;
					+ a{
						border-top:rem(1) solid #e8e8e8;
					}
					&:hover{
						background:#e0e0e0;
					}
				}
				&.active{
					display: block;
				}
			}
		}
}
.top-button-box{
	position:fixed;
	width:100%;
	max-width:rem(1400);
	margin:0 auto;
	bottom:rem(115);
	left:50%;
	transform: translateX(-50%);
	.top-button{
		width: rem(52);
		height: rem(52);
		background:$main-color-blue;
		color:$white;
		position:absolute;
		right:rem(-78);
		z-index:100;
		opacity: 0;
		visibility: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50px;

		&.show{
			opacity: 1;
			visibility: visible;
		}
		span{
			position:relative;
			padding-top:14px;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform:translateX(-50%);
				width: 0;
				height: 0;
				border-top: 0;
				border-right: rem(5) solid transparent;
				border-left: rem(5) solid transparent;
				border-bottom: rem(9) solid $white;

			}
		}
	}
}
@media(max-width: rem(1400)) {
	footer{
		.site-area{
			right:rem(10) !important;
		}
	}
	.top-button{
		right:rem(10) !important;
	}
}