@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/GmarketSansTTFLight.otf) format('opentype'),
       url(../fonts/GmarketSansTTFLight.woff) format('woff')
}
@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/GmarketSansTTFMedium.otf) format('opentype'),
       url(../fonts/GmarketSansTTFMedium.woff) format('woff')
}
@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/GmarketSansTTFBold.otf) format('opentype'),
       url(../fonts/GmarketSansTTFBold.woff) format('woff')
}