header {
	height: rem(92);
	nav {
		position: relative;
		width: 100%;
		max-width:rem(1400);
		height:100%;
		margin:0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: rem(1) solid #e5e5e5;
		.logo {
			a{
				display:block; 
				height:rem(60); 
				img{
					width:100%;
					max-width: 100%;
					height:100%;
				}
			}
		}
		.menu-area{
			ul{
				display: flex;
				width: 100%;
				max-width: rem(1400);
				margin:0 auto;
				li{
					+ li{
						margin-left: rem(36);
					}
					a{
						position: relative;
						font-weight: $medium;
						padding: 0 rem(18);
						transform: scaleX(0);
						font-size:rem(18);
						text-transform: capitalize;
						&:after{
							display: block;
							content: '';
							position: absolute;
							bottom: rem(-35);
							width: 100%;
							height: rem(6);
							background: $main-color-blue;
							transform: scaleX(0); transition: transform .25s ease-in-out;

						}
					}
					&:nth-child(2){
							a{
								&:after{
									background-color: $main-color-green;
								}
							}
						}
						&:nth-child(3){
							a{
								&:after{
									background-color: $main-color-pink;
								}
							}
						}
						&:nth-child(4){
							a{
								&:after{
									background-color: $main-color-purple;
								}
							}
						}
					&:hover,
					&.on{
						a{
							&:after{
								transform: scaleX(1);
							}
						}
					}
					&:first-child{
						a{
							color: $main-color-blue;
						}
					}
					&:nth-child(2){
						a{
							color: $main-color-green;
						}
					}
					&:nth-child(3){
						a{
							color: $main-color-pink;
						}
					}
					&:nth-child(4){
						a{
							color: $main-color-purple;
						}
					}
				}
			}
		}
		.user-area{
			display: flex;
			width: rem(64);
			justify-content: space-between;
			align-items: center;
			div{
				display: flex;
			}
			button{
				width: rem(24);
				height: rem(24);
				background:url(../images/b_search_icons.png) no-repeat 0 0;
			}
			.lang{
				position:relative;
				button{
					background-position: rem(-38) rem(-39);
				}
				.lang-sel{
					position:absolute;
					top:rem(30);
					left:rem(-20);
					width:rem(72);
					display:flex;
					flex-direction: column;
					border:rem(1) solid #ccc;
					border-radius: rem(5);
					opacity:0;
					&.in{
						opacity:1;
						z-index:1000;
					}
					a{
						display:flex;
						align-items: center;
						justify-content: center;
						font-weight:$medium;
						font-size:rem(14);
						color:#5e5e5e;
						height:rem(30);
						background:#fff;
						&:first-child{
							border-radius: rem(5) rem(5) 0 0;
						}
						&:last-child{
							border-radius: 0 0 rem(5) rem(5) ;
						}
						&:hover{
							background: #eaeaea;
						}
					}
				}
			}
		}
	}
	.search-box{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,.95);
		width: 100%;
		height: 100%;
		z-index: 2000;
		display:none;
		&.active{
			display:block;
		}
		.close{
			width:rem(36);
			height:rem(36);
			background:transparent;
			position:absolute;
			right:rem(5);
			top:rem(20);
			background:url(../images/b_search_icons.png) no-repeat rem(-38) 0;
		}
		.input-area{
			width:rem(881);
			position:absolute;
			top:rem(188);
			left:50%;
			padding:rem(3) 0 0 rem(160);
			transform:translateX(-50%);
			*{
				text-transform:none !important;
			}
			&:before{
				content:'';
				width:122px;
				height:164px;
				background:url(../images/ensole_char.png) no-repeat;
				position:absolute;
				top:0;
				left:0;
			}
			.input-box{
				background:#444;
				padding:0 rem(45) 0 rem(120);
				border-radius:50px;
				position:relative;
				&:after{
					content:'';
					position:absolute;
					bottom:-8px;
					left:0;
					width:52px;
					height:21px;
					background:url(../images/speech-bubble-icon.png) no-repeat;
				}
				.search-btn{
					position:absolute;
					top:50%;
					left:54px;
					width:34px;
					height:34px;
					transform: translateY(-50%);
					background:url(../images/b_search_icons.png) no-repeat 0 -27px;
				}
				input{
					width:100%;
					background:#444;
					color:$white;
					font-weight: $medium;
					position:relative;
					padding:rem(32) 0;
				}
			}
		}
	}
}
.page {
	header {
		background-color: $white;
		position: fixed;
		width: 100%;
		z-index: 999;
	}
	section:not(.main-section) {
		margin-top: rem(92);
	}
}
@media(max-width:rem(1400)) {
	nav{
		max-width:96% !important;
	}
}