.popup-wrap{
    display:none;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    background:rgba($color: #000000, $alpha: 0.7);
    z-index: 200;
    .popup-box{
        width:100%;
        max-width:rem(700);
        background:#fff;
        border: rem(1) solid #c0c0c0;
        position:relative;
        top:20%;
        left:50%;
        transform: translate(-50%,-20%);
        .close{
            position:absolute;
            top:rem(-2);
            right:rem(-50);
            width:rem(40);
            height:rem(40);
            background:url(../images/popup-icons.png) no-repeat 0 0;
            font-size:0;
            z-index:1;
        }
        .popup-tit-box{
            position:relative;
            width:100%;
            height:rem(342);
            background:#f8f8f8;
            &:after{
                content:'';
                display:block;
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:url(../images/ensole-icons.png) no-repeat;
            }
            .txt-box{
                position:absolute;
                right:rem(39);
                top:rem(50);
                width:rem(525);
                background:#fff;
                border:rem(2) solid $main-color-blue;
                box-shadow: 10px 8px 10px rgba(0,0,0,.11);
                border-radius: rem(10);
                padding:rem(24) rem(30) rem(30) rem(30);
                &:after{
                    content:'';
                    position:absolute;
                    width:rem(60);
                    height:rem(35);
                    bottom:rem(-35);
                    left:0;
                    background:url(../images/popup-icons.png) no-repeat 0 rem(-48);
                }
                h2{
                    font-size:rem(28);
                    font-weight:$bold;
                    color:$main-color-blue;
                    letter-spacing: -0.025em;
                }
                p{
                    letter-spacing: -0.1em;
                    font-weight:$medium;
                    font-size:rem(16);
                    line-height:1.5;
                    margin-top:rem(26);
                }
            }
        }
        .popup-txt{
            margin:0 rem(30);
            border-top:rem(2) solid $main-color-blue;
            .inputbox{
                display: grid;
                grid-template-columns: 1fr 5fr;
                border-bottom:rem(1) solid #e0e0e0;
                label{
                    @include flex-row-center;
                    background:#eff1f5;
                    font-size:rem(14);
                    font-weight: $medium;
                    color:#333;
                    letter-spacing: -0.1em;
                }
                .content{
                    padding:rem(7) rem(10);
                    input, textarea{
                        width:100%;
                        border:rem(1) solid #dddddd;
                        font-weight:$medium; 
                    }
                    input[type="text"]{
                        height:rem(48); 
                        font-size:rem(14);
                        padding-left:rem(13); 
                    }
                    input[type="text"]::placeholder {
                        color:#333;
                    }
                    textarea{
                        height:rem(186);
                        padding:rem(16) rem(13);
                        color:#999;
                    }
                    input[type="file"]{
                        font-size:rem(14);
                        padding:rem(3) 0 0 rem(13);
                    }
                }
                // .add_content{
                //     padding:rem(7) rem(10);
                //     .flie-info{
                //         display:flex;
                //         flex-direction: row;
                //         justify-content: space-between;
                //         button{
                //             background:#fff;
                //             border:rem(1) solid #e9e9e9;
                //             border-radius: rem(5);
                //             color:#333;
                //             width:rem(80);
                //             height:rem(28);
                //             font-weight:$medium;
                //             font-size:rem(12);
                //         }
                //         p{
                //             &,span{
                //                 display:flex;
                //                 flex-direction: row;
                //                 align-items: center;
                //             }
                //             span{
                //                 font-size:rem(12);
                //                 em{
                //                     padding-right:rem(5);
                //                 }
                //             }
                //         }
                //     }
                //     .file-select-box{
                //         border:rem(1) solid #dddddd;
                //         margin-top:rem(8);
                //         table{
                //             width:100%;
                //             height:rem(140);
                //             font-size:rem(14);
                //             background:#fff;
                //             color:#333;
                //             thead{
                //                 background:#f0f0f0;
                //                 tr{
                //                     th{
                //                         padding:rem(10) 0;
                //                     }
                //                 }
                //             }
                //             #file-select{
                //                 background:#fff;
                //                 .file-select-name{
                //                     position:relative;
                //                     &:after{
                //                     position:absolute;
                //                     content:'';
                //                     top:rem(-7);
                //                     left:rem(-25);
                //                     width:rem(23);
                //                     height:rem(26);
                //                     background: url(../images/popup-icons.png) no-repeat 0 rem(-86);
                //                     }
                //                 }
                //                 #chooseFile{
                //                 display:none;
                //                 }
                //             }
                //         }

                //     }
                //     .trash{
                //         position:relative;
                //         padding-left:rem(28);
                //         background:#fff;
                //         margin-top:rem(10);
                //         &:after{
                //             position:absolute;
                //             top:rem(-2);
                //             left:0;
                //             content:'';
                //             width:rem(18);
                //             height:rem(18);
                //             background: url(../images/popup-icons.png) no-repeat 0 rem(-117);
                //         }
                //     }
                // }
            }
        }
        .btns{
            display:flex;
            margin:rem(10) 0 rem(30) 0;
            @include flex-row-center;
            button{
                width:rem(85);
                height:rem(40);
                background:#fff;
                border:rem(1) solid #eaeaea;
                border-radius: rem(6);
                font-weight:$medium;
                color:#606060;
                &:not(:first-child){
                    background:$main-color-blue;
                    color:$white;
                    margin-left:rem(5);
                }
            }
        }
    }
}
.popup-wrap.on{
    display:block;
}