.post-popup-wrap {
    position: absolute;
    left: rem(35);
    bottom: rem(32);
    padding: rem(35) 0 0;
    background-color: #f6fcfd;
    border: rem(5) solid #4abdcf;
    width: 100%;
    max-width: rem(390);
    border-radius: rem(75);
    z-index: 10;
    overflow: hidden;
    .popup-head {
        padding: 0 rem(35);
        position: relative;
        .title {
            font-size: rem(18);
            font-weight: 400;
            display: block;
            color: #544596;
            padding-top: rem(5);
        }
        .sub-title {
            font-size: rem(24);
            line-height: rem(28);
            font-weight: 700;
            padding-top: rem(7);
            padding-bottom: rem(6);
            color: #544596;
        }
        .popup-ensol-click {
            position: absolute;
            top: rem(-10);
            right: rem(25);
        }
        .post-count {
            background-color: #544596;
            color: $white;
            font-size: rem(16);
            font-weight: 400;
            padding: rem(5);
            text-align: center;
        }
    }
    .post-list {
        display: block;
        padding: rem(15) rem(25) rem(15);
        li {
            display: block;
            a {
                display: flex;
                align-items: center;
                width: 100%;
                padding: rem(5) rem(15) rem(5) rem(5);
                border: rem(1) solid #544596;
                border-radius: rem(50);
                &.news {
                    .post-list-content-wrap {
                        .post-list-title {
                            color: #4abdcf;
                        }
                    }
                    .post-list-icon {
                        background-image: url("../images/ico-news.png");
                    }
                }
                &.people {
                    .post-list-content-wrap {
                        .post-list-title {
                            color: #afca0b;
                        }
                    }
                    .post-list-icon {
                        background-image: url("../images/ico-people.png");
                    }
                }
                &.comunity {
                    .post-list-content-wrap {
                        .post-list-title {
                            color: #e01d85;
                        }
                    }
                    .post-list-icon {
                        background-image: url("../images/ico-comunity.png");
                    }
                }
                .post-list-icon {
                    display: block;
                    width: rem(48);
                    height: rem(48);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                .post-list-content-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0 rem(5);
                    width: 100%;
                    max-width: calc(100% - #{rem(61)});
                    .post-list-title {
                        font-size: rem(15);
                        font-weight: 700;
                    }
                    .post-list-content {
                        font-size: rem(13);
                        font-weight: 400;
                        padding-top: rem(5);
                    }
                }
                .post-list-arrow {
                    width: rem(13);
                    height: rem(21);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url("../images/post-list-arrow.png");
                }
            }
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }
    .post-popup-footer {
        height: rem(50);
        padding: 0 rem(25);
        display: flex;
        background-color: #e6e5ea;
        li {
            width: 100%;
            max-width: 50%;
            flex: 1 1 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    width: rem(1);
                    height: rem(14);
                    background-color: #c0bfc3;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            a {
                font-size: rem(14);
                font-weight: 400;
                padding-top: rem(2);
                padding-left: rem(15);
                letter-spacing: rem(-2);
                background-repeat: no-repeat;
                background-position: left center;
                background-image: url("../images/ico-post-popup-close.png");
            }
        }
    }
}