@charset 'utf-8';
body, html{
  margin: 0;
  padding: 0;
  // font-family: 'Noto Sans CJ KR';
  font-family: 'Gmarket Sans';
}
body{
  -webkit-text-size-adjust : none;
  // background-color: $body-bg;
  background-color: $white;
  *{
    box-sizing: border-box;
    font-weight: 300;
  }
  &.bg-white {
    background-color: $white;
  }
}
ul, dl, dt, dd{
  margin:0;
  padding:0;
  list-style: none;
}
ol{
  margin: 0;
}
a{
  text-decoration: none;
  color: #333 ;
  &:hover{
    text-decoration: none;
  }
}
input, select, textarea, fieldset, button{
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
  // font-family: 'Noto Sans CJ KR';
}
input::placeholder, textarea::placeholder {
  color: $gray-two;
}
table{
  border-collapse: collapse;
}
em{
  font-style: normal;
}
textarea{
  resize: none;
}
.hidden{
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
h1,h2,h3,h4,h5,h6 {display:inline-block; margin: 0;}

img{
  max-width: 100%;
}
p{
  margin: 0;
}
label {
  font-weight: $regular;
}
input {
  font-size: rem(26);
  font-weight: $regular;
  color: $gray-two;
  line-height: rem(36);
}