.main-section{
    .swiper{
        width: rem(300);
        display: none;
        .swiper-slide{
            border: rem(3) solid $lg-mint;
        }
        .slide-text{
            background-color: $white;
            color: $black-two;
            height: rem(107);
            font-size: rem(16);
            line-height: rem(22);
            padding: 0 rem(14);
            margin-top: rem(-5);
            p{
                @include ellipsis-multi;
                //width: rem(168);
                width: 100%;
                height: rem(58);
                padding-top: rem(14);
            }
        }
        // prev next button control
       
            .swiper-button-prev,
            .swiper-button-next {
                display: none;
                position: absolute;
                bottom: rem(16);
                width: rem(22);
                height: rem(16);
                background-repeat: no-repeat;
                background-position: center center;
                z-index: 99;
                transition: opacity .5s ease;
                &.swiper-button-disabled {
                    opacity: .5;
                }
                &:not(.swiper-button-disabled) {
                    cursor: pointer;
                }
            }
            .swiper-button-prev {
                left: rem(20);
            }
            .swiper-button-next {
                right: rem(20);
            }
        
        .swiper-pagination{
            position: absolute;
            bottom: rem(14);
            left: 50%;
            transform: translateX(-50%);
            z-index: 5;
            .swiper-pagination-bullet{
                display: inline-block;
                width: rem(10);
                height: rem(10);
                background-color: #a7a7a7;
                border-radius: 50%;
                cursor: pointer;
                +.swiper-pagination-bullet{
                    margin-left: rem(5);
                }
            }
        }
        &.news-swiper{
            .swiper-pagination{
                .swiper-pagination-bullet-active{
                    background-color: $lg-mint;
                }
            }
            .swiper-button-prev {
                background-image: url('../images/siwper-prev-news.png');
                &:hover {
                    &:not(.swiper-button-disabled) {
                        background-image: url('../images/siwper-prev-news-on.png');
                    }
                }
            }
            .swiper-button-next {
                background-image: url('../images/siwper-next-news.png');
                &:hover {
                    &:not(.swiper-button-disabled) {
                        background-image: url('../images/siwper-next-news-on.png');
                    }
                }
            }
        }
        &.storage-swiper{
            .swiper-slide{
                border: rem(3) solid $storage;
            }
            .swiper-pagination{
                .swiper-pagination-bullet-active{
                    background-color: $storage;
                }
            }
            .swiper-button-prev {
                background-image: url('../images/siwper-prev-storage.png');
                &:hover {
                    &:not(.swiper-button-disabled) {
                        background-image: url('../images/siwper-prev-storage-on.png');
                    }
                }
            }
            .swiper-button-next {
                background-image: url('../images/siwper-next-storage.png');
                &:hover {
                    &:not(.swiper-button-disabled) {
                        background-image: url('../images/siwper-next-storage-on.png');
                    }
                }
            }
        }
        &.community-swiper{
            .swiper-slide{
                border: rem(3) solid $coummunity;
            }
            .swiper-pagination{
                .swiper-pagination-bullet-active{
                    background-color: $coummunity;
                }
            }
            .swiper-button-prev {
                background-image: url('../images/siwper-prev-community.png');
                &:hover {
                    &:not(.swiper-button-disabled) {
                        background-image: url('../images/siwper-prev-community-on.png');
                    }
                }
            }
            .swiper-button-next {
                background-image: url('../images/siwper-next-community.png');
                &:hover {
                    &:not(.swiper-button-disabled) {
                        background-image: url('../images/siwper-next-community-on.png');
                    }
                }
            }
        }
        &.people-swiper{
            .swiper-slide{
                border: rem(3) solid $people;
            }
            .swiper-pagination{
                .swiper-pagination-bullet-active{
                    background-color: $people;
                }
            }
            .swiper-button-prev {
                background-image: url('../images/siwper-prev-people.png');
                &:hover {
                    &:not(.swiper-button-disabled) {
                        background-image: url('../images/siwper-prev-people-on.png');
                    }
                }
            }
            .swiper-button-next {
                background-image: url('../images/siwper-next-people.png');
                &:hover {
                    &:not(.swiper-button-disabled) {
                        background-image: url('../images/siwper-next-people-on.png');
                    }
                }
            }
        }
    }
}