//font-weight
$regular:300;
$medium:500;
$bold:800;
$white:#fff;
$black:#000;
$black-two:#333333;
$black-three:#2c2c2c;
$primary:#37aad7;
$primary-two:#3db7e4;
$sky:#a6cedd;
$gray:#666666;
$gray-two:#999999;
$gray-three:#f7f7f7;
$gray-four:#aba7a7;
$gray-five:#f2f2f2;
$gray-six: #f4f5f7;
$red:#e50101;
$disable:#cdcdcd;
$green:#a0d00e;
$pink:#f77aaf;
$blue:#a38afa;
$main-color-blue:#4bbdcf;
$main-color-green:#afca0b;
$main-color-pink:#df1d84;
$main-color-purple:#554596;

$lg-mint:#4bbdcf;
$lg-pupple:#554596;
$lg-pink:#df1d84;
$lg-green:#afca0b;

$coummunity:$lg-pink;
$storage:#a7cc3c;
$people:$lg-green;